.left {
  float: left;
  padding: 0 20px 20px 0;
}

.right  {
  float: right;
}

.clear-fix {
  clear: both;
}

.clear-fix-right {
  clear: right;
}

.text-center {
  text-align: center;
}

.no-dot {
  list-style-type: none;
}

.small-text {
  font-size: 8pt;
}

#border {
  border: 2px solid white;
}

#border-cell {
  border: 2px solid white;
}

/* text over image */
/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 24px;
    left: 32px;
}
